.page-layout {
  display: flex;
  flex-direction: column;
  /* align-items: last baseline; */
  /* justify-content: left; */
  height: 100%;
  width: 100%;

  --bg-image:  url("../../../utils/peakpx.jpg");
   --bg-image-opacity: 0.4;
   position:relative;
  
}
.page-layout::after{
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: black;
  opacity: var(--bg-image-opacity);
  background-size:    cover;                   
  background-position: center;
  background-image: var(--bg-image);
}

.page-layout__content {
  /* flex: 1; */
  /* flex-basis: auto; */
  /* flex-shrink: 1; */ 
  display: flex;
  flex: 0 0 1;
  flex-direction: row;
  height: 100%;
  /* justify-content: ; */
  /* align-items: center; */
  /* margin-top: 8rem; */
  /* max-width: 100%; */
  /* justify-content: space-around; */
  width: 100%;

  /* --bg-image:  url("../../../utils/peakpx.jpg");
   --bg-image-opacity: 0.4;
   position:relative; */
  
}
/* .page-layout__content::after{
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: black;
  opacity: var(--bg-image-opacity);
  background-size:    cover;                   
  background-position: center;
  background-image: var(--bg-image);
} */

@media only screen and (max-width: 640px) {
  .page-layout__content {
    margin-top: 6.4rem;
  }
}
